<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>

<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Edit account', edit_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light', method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
</nav>
