<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Edit account', edit_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light', method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
</nav>
